.app-container {
  width: 960px;
  margin: 0 auto;
  display: block;
}

@media (max-width: 1920px) {
}

@media (max-width: 1280px) {
  .app-container {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .app-container {
    width: 100%;
  }
}
