<form>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Search Movies</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Movies"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions" [value]="option.Title">
        {{ option.Title }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-radio-group
    [value]="plotData"
    (change)="onChange($event)"
    aria-label="Plot"
  >
    <mat-radio-button checked="true" value="short">Short</mat-radio-button>
    <mat-radio-button value="full">Full</mat-radio-button>
  </mat-radio-group>
</form>

<div class="flex-container">
  <app-movie-card
    *ngFor="let movie of filteredOptions"
    [movie]="movie"
  ></app-movie-card>
</div>
