/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: block;
  box-sizing: border-box;
  background: #000;
  color: #fff;
}

@import "./app/app.component.scss";
@import "./app/components/movie-card/movie-card.component.scss";
@import "./app/components/home/home.component";
@import "./app/components/feature-page/feature-page.component";
